@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-arsenal: var(--font-arsenal-sc);
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  10% {
    opacity: 1;
    transform: translateX(10%);
  }
  20% {
    opacity: 1;
    transform: translateX(20%);
  }
  30% {
    opacity: 1;
    transform: translateX(30%);
  }
  40% {
    opacity: 1;
    transform: translateX(40%);
  }
  50% {
    opacity: 1;
    transform: translateX(50%);
  }
  60% {
    opacity: 1;
    transform: translateX(60%);
  }
  70% {
    opacity: 1;
    transform: translateX(70%);
  }
  80% {
    opacity: 1;
    transform: translateX(80%);
  }
  90% {
    opacity: 1;
    transform: translateX(90%);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

.slide-out {
  animation: slideOut 4s linear forwards;
  animation-delay: 0.5s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 100px;
  height: 100px;
  border: 10px solid rgb(0,177,255);
  border-top: 10px solid transparent;
  border-radius: 50%; 
  animation: rotate 1s linear infinite;
}

.hover-grow{
  transform: scale(100%);
  transition: transform 0.2s ease;
}
.hover-grow:hover{
  transform: scale(120%);
  transition: transform 0.2s ease;
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  min-width: 200%;
  animation: marquee 10s linear infinite;
}
.animate-marquee-reverse {
  display: flex;
  min-width: 200%;
  animation: marquee 10s reverse linear infinite;
}
.wide-slash {
  display: inline-block;
  transform: scaleX(8); /* Stretches the slashes horizontally */
}
@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(0, 177, 255, 1);
	--c2: rgba(30,50,70);
  --size: 20px;
}

.wrapper {
	min-width: min(40rem, 100%);
}

.box {
	font-size: 3vw;
	margin: max(1rem, 3vw);
	border: 0.35rem solid;
	padding: 3vw;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

.box:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
	animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
.flip-box {
  view-timeline-name: --box-scroll; /* Creates a scroll timeline */
  view-timeline-axis: block;
  animation: rotate-on-scroll linear;
  animation-timeline: --box-scroll;
  transform-origin: center;
}
@keyframes rotate-on-scroll {
  0% 
  {
    transform: translateY(100%);
  }
  20% 
  {
    transform: translateY(100%);
  }
  40% 
  {
    transform: translateX(0);
  }
  100%
  {
    transform: translateX(0);
  }
}
.animated-border 
{
  --border-angle: 0deg;
  border-radius: 12px;
  animation: border-angle-rotate 4s infinite linear;
  border: 0.25rem solid transparent;
  background: linear-gradient(#0d0d0d, #0d0d0d) padding-box,
  conic-gradient(
      from var(--border-angle),
      hsl(201, 100%, 50%) 0deg 25%,
      black 25% 50%,
      hsl(201, 100%, 50%) 50% 75%,
      black 75% 100% 
    )
  border-box;
}

@keyframes border-angle-rotate 
{
  from { --border-angle: 0deg; }
  to { --border-angle: 360deg; }
}

@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.timeline {
  width: 40px;
  height: 110vh;
  background: repeating-linear-gradient(
      to bottom,
      rgb(0, 177, 255) 0px,
      rgb(0, 177, 255) 40px,
      transparent 10px,
      transparent 60px
  );
  clip-path: inset(0px 0px 100% 0px); /* Initially hidden */
  animation: reveal linear forwards;
  animation-timeline: scroll();
  animation-range: entry 10% cover 50%;
}

/* Animation to reveal the line from top to bottom */
@keyframes reveal {
  from {
      clip-path: inset(0px 0px 100% 0px); /* Initially hidden */
  }
  to {
      clip-path: inset(0px 0px 0px 0px); /* Fully visible */
  }
}
