@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-arsenal: var(--font-arsenal-sc);
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  10% {
    opacity: 1;
    transform: translateX(10%);
  }
  20% {
    opacity: 1;
    transform: translateX(20%);
  }
  30% {
    opacity: 1;
    transform: translateX(30%);
  }
  40% {
    opacity: 1;
    transform: translateX(40%);
  }
  50% {
    opacity: 1;
    transform: translateX(50%);
  }
  60% {
    opacity: 1;
    transform: translateX(60%);
  }
  70% {
    opacity: 1;
    transform: translateX(70%);
  }
  80% {
    opacity: 1;
    transform: translateX(80%);
  }
  90% {
    opacity: 1;
    transform: translateX(90%);
  }
  100% {
    opacity: 1;
    transform: translateX(100%);
  }
}

.slide-out {
  animation: slideOut 4s linear forwards;
  animation-delay: 0.5s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 100px;
  height: 100px;
  border: 10px solid rgb(0,177,255);
  border-top: 10px solid transparent;
  border-radius: 50%; 
  animation: rotate 1s linear infinite;
}
